.QuestionsContainer{
   display: flex;
   flex-direction: column;
   margin: 1rem 3rem 1rem 3rem ;
   border-radius: 10px;
   padding: .5rem;
}
form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1rem ;
    padding: .5rem;
    width: 95%;
    column-gap: 2rem;
    border: none;
    text-align: left;
}
