body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1rem 8rem 1rem 8rem;
}
.container{
    margin-bottom: 4rem;
}
header{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr auto;
    padding: 1rem;
}
header ul{
    display: inline-flex;
    justify-content: center ;
    list-style: none;

}
.name{
    font-size: 2rem;
    font-weight:bolder;
    color: black;
}
button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
button:hover {
    color: gray;
}

button:active {
    color: grey;
    margin-left: 1rem;
}
.info{
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 4rem 2rem 4rem;
}
.form{
    margin: 2rem 4rem 2rem 4rem;
    padding: 1rem;
    row-gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
label{
    font-size: 1.5rem;
    font-weight: bold;
}
input{
    font-size: 1rem;
    font-weight: lighter;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid black;
}
select{
    font-size: 1rem;
    font-weight: lighter;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid black;
}
.footer{
    margin: 15rem 0rem 0rem 0rem;
}

.loginForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    margin-left: 20rem;
    margin-right: 21rem;
    row-gap: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}
.login{
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}
.logininfo{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
}