<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AdminPage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            th {
                padding: 10px;
                width: 100px;
            }
            tr {
                height: 30px;  
                text-align: center;
            }
        </style>
        
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>Admin Page</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Latitude</th>
                    <th>Longtude</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.age }}</td>
                    <td>{{ user.gender }}</td>
                    <td>{{ user.date }}</td>
                    <td>{{ user.time }}</td>
                    <td>{{ user.latitude }}</td>
                    <td>{{ user.longtude }}</td>
                    <td>
                        <button type="button" onclick="deleteRow(this, '{{ user.id }}')">Delete</button>
                    </td>    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <script>
            function deleteRow(buttonElement, userId) {
            fetch(`/delete_user/${userId}`, {
                method: 'DELETE',
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    var row = buttonElement.closest('tr');
                    row.remove();
                } else if (data.error) {
                    console.error(data.error);
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
        </script>
    </body>
</html>