<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
<head>
    <meta charset="utf-8">
    <title>teenAgePage</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" href = "../static/questions.css">
</head>
<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">
        <header>
            <span><a href="/"><button class="name" type="button">SAMAM</button></a></span>
            <div>
                <nav>
                    <ul>
                        <li><a href="#Skills"><button type="button">AboutUs</button></a></li>
                        <li><a href="#Contact"><button type="button">Contact</button></a></li>
                        <li>
                            <form action="/login_form" method="post">
                                <button type="submit" value="submit">Admin Page</button>
                            </form>
                        </li>
                        <li>
                            <form action="/character_form" method="post">
                                <button type="submit" value="submit">Character Page</button>
                            </form>
                        </li>
                    </ul>
                </nav>  
            </div>
        </header>
    </div>      
    <div class="container">
        <span class="info">Answer these Questions: Character</span>
        <form class="questionForm" action="/character_submit" method="post">
            {% for question in questions %} <!-- Assuming 'questions' is the list you want to iterate over -->
            <label for="question {{ question.id }}">{{ question.question }}</label>
            <input type="number" min="1" max="10" id="question {{ question.id }}" name="question {{ question.id }}" required>
            {% endfor %}
            <label for="em"></label>
            <input type="submit" value="Submit">
        </form>
    </div>

    

    <!--Fotter-->
    <div class="footer">
        <hr>
        <span>@SAMAM</span>
    </div>
    <script src="" async defer></script>
</body>
</html>


